Flask_Bcrypt
Flask_cors
Flask_jwt_extended
Mako
Markupsafe
Pyjwt
Sqlalchemy
Alembic
Bcrypt
Blinker
Click
Dotenv
Flask
Flask_mail
Flask_migrate
Flask_sqlalchemy
Itsdangerous
Jinja
Jwt
Markupsafe
Python_dotenv
Typing_extensions
Werkzeug
Alembic
Click
Pip


